 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 .font0 { font:12pt Arial, sans-serif; }
 .font1 { font:28pt Arial, sans-serif; }
 .font2 { font:10pt Century Schoolbook, serif; }
 .font3 { font:10pt Courier New, monospace; }
 .font4 { font:10pt SimHei, monospace; }
 .font5 { font:11pt SimHei, monospace; }
 .font6 { font:12pt SimHei, monospace; }
 .font7 { font:16pt SimHei, monospace; }
 .font8 { font:10pt SimSun, monospace; }
 .font9 { font:12pt SimSun, monospace; }
 .font10 { font:9pt Times New Roman, serif; }
 .font11 { font:12pt Times New Roman, serif; }
 .font12 { font:12pt Yu Gothic; }
 .font13 { font:18pt Yu Gothic; }
