 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 .font0 { font:5pt Arial, sans-serif; }
 .font1 { font:6pt Malgun Gothic, sans-serif; }
 .font2 { font:5pt SimHei, monospace; }
 .font3 { font:9pt SimHei, monospace; }
 .font4 { font:12pt SimHei, monospace; }
 .font5 { font:13pt SimHei, monospace; }
 .font6 { font:18pt SimHei, monospace; }
 .font7 { font:9pt Tahoma, sans-serif; }
 .font8 { font:9pt Times New Roman, serif; }
 .font9 { font:12pt Times New Roman, serif; }
 .font10 { font:14pt Times New Roman, serif; }
 .font11 { font:15pt Times New Roman, serif; }
